@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;600;700;800;900&display=swap');

body{
	font-family: 'Raleway', sans-serif;
	color: #002046;
	scroll-behavior: smooth;
}

.masthead{
	background:url(img/header.jpg);
    background-size: cover; 
    height: 100vh;
    background-position: right;
}

.science-bg{
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.3) 50%),url(img/science-bg.jpg);
    background-size: cover;
}

.light-blue-bg{
	background-color: #E5F4FF;
}

.dark-blue-bg{
	background-color: #002046;
}

.logo{
	width: 200px;
}

.header-height{
    height: 80vh;
}


.heading{
	font-weight: 900;
	font-size: 64px;
	color: #0292FD;
}

.heading-title{
	font-weight: 900;
	font-size: 60px;
}

.text-content{
	font-size: 27px;
}

.sub-text-content{
	font-size: 50px;
	font-weight: 900;
	color: #0292FD;
}

.number-content{
	font-size: 135px;
}

.know-more-btn{
	border: 2px solid #0292FD;
	border-radius: 10px;
	font-size: 27px;
	padding: 10px 40px;
	transition: 1s;
}

.know-more-btn:hover{
	color: #fff;
	border: 2px solid #0292FD;
	background-color: #0292FD;
	text-decoration: none;
}

.card-title{
	font-weight: 700;
}

.flex-content {
  flex: 1 0 35%;
  margin: 3px;
  background-color: #ffffff;
  border-radius: 18px;
  transition: all 0.5s;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
}

.flex-content span {
  color:#484848;
  text-decoration: none;
}

.flex-content span:hover{
  color: #fff;
}

.flex-content:hover {
  background-color: #002046;
}

@media screen and (max-width: 768px){
	.heading, .heading-title{
		font-size: 30px; 
	}
	.number-content {
	    font-size: 60px;
	}
	.sub-text-content {
	    font-size: 25px;
	}
	.know-more-btn {
	    font-size: 20px;
	    color: #fff;
		border: 2px solid #0292FD;
		background-color: #0292FD;
		text-decoration: none;
	}
	.text-content {
	    font-size: 21px;
	}
	.pt-5, .py-5{
		padding-top: 1.5rem !important;
		padding-bottom: 1rem !important;
	}
	.mt-5, .my-5{
		margin-top: 1.5rem !important;
		margin-bottom: 1rem !important;
	}
	.text-left, .text-right{
		text-align: center !important;
	}
}
